.media-bl-title {
    font-weight: 900;
    font-size: 30px;
    color: #FFFFFF;
}

@mixin media-bl-button {
    display: block;
    width: 200px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 166.5%;
    color: #FFFFFF;
    cursor: pointer;
}

.media-main {
    margin-top: 80px;

    &-title {
        font-weight: 900;
        font-size: 65px;
        color: #FFFFFF;
    }

    &-categories {
        gap: 16px;
    }

    .main-categories-item {
        font-weight: 700;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.35);
    }

    .categories-item__active {
        color: #FFFFFF;
    }
}

.media-trailers {
    margin-top: 80px;

    &-box {
        margin-top: 80px;
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .trailers-main {
        &-content {
            iframe {
                width: 705px;
                height: 435.85px;
                border: 0;
            }
        }

        &-info {
            margin-top: 20px;
            gap: 12px;
        }

        &-title {
            font-weight: 900;
            font-size: 20px;
            color: #FFFFFF;
        }

        &-date,
        &-watch,
        &-time {
            font-weight: 700;
            font-size: 15px;
            line-height: 191.2%;
            color: #FFFFFF;
        }

        &-watch {
            padding-left: 28px;
            background: url("/public/images/eye.png") no-repeat;
            background-position: 0;
        }

        &-time {
            padding-left: 28px;
            background: url("/public/images/clock.png") no-repeat;
            background-position: 0;
        }
    }

    button {
        @include media-bl-button;
        margin: 80px auto;
    }

}

.media-posters {
    margin-top: 80px;

    &-box {
        margin-top: 50px;
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .posters-item {
        &-img {
            img {
                width: 339.39px;
                height: 462.91px;
            }
        }

        &-title {
            margin-top: 8px;
            font-weight: 700;
            font-size: 18px;
            color: #FFFFFF;
        }
    }

    button {
        @include media-bl-button;
        margin: 80px auto;
    }
}

.media-frames {
    margin-top: 80px;

    &-box {
        margin-top: 80px;
        flex-wrap: wrap;
        row-gap: 50px;
    }

    &-item {
        h5 {
            margin-top: 8px;
            font-weight: 900;
            font-size: 20px;
            color: #FFFFFF;
        }
    }

    button {
        @include media-bl-button;
        margin: 80px auto;
    }

}